.heroSection {
	background: #07766C;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "San Francisco";
	overflow: hidden;
	height: 100vh;

 .slidingBackground {
		background-color: #07766C;
 		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2300A18E' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2374DBD5'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
 	 	height: 100vh;
 		width: 5076px;
		animation: slide 120s linear infinite;
 }

	@keyframes slide {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(-1000px, 0, 0);
		}
	}
	
	.card {
		max-width: 500px;
		margin: auto;
		height: auto;
		padding: 30px;
		position: absolute;
		border-radius: 8px;
		box-shadow: 2px 2px 50px rgb(0 0 0 / 20%);
		transition: transform 0.1s ease;
		transform-style: preserve-3d;
		will-change: transform;
		background: url("https://uploads-ssl.webflow.com/60f98f46d44e675abb7e66ea/611b371937b6551d8aab3aa8_mom-p-1080.jpeg") no-repeat;
		background-size: cover;

		.content {
			position: relative;
			color: white;
			z-index: 1;
			transition: transform 0.3s ease;
			text-align: center;
			padding: 16px;

			h2 {
				font-size: 40px;
				margin: 0 0 24px 0;
			}

			.hoverAnimation {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				margin: 5px auto;
				width: 125px;
				height: 125px;
				background-image: url(../../images/ribn-logo.png);
				background-repeat: round;
				border-radius: 75px;
				font-family: 'Montserrat', sans-serif;
				font-size: 20px;
				font-weight: lighter;
				letter-spacing: 2px;
				transition: 1s box-shadow;
			}

			p {
				font-size: 24px;
				font-weight: lighter;
			}

			button {
				background-color: #07766C;
				color: white;
				padding: 18px 72px;
    		border-radius: 50px;
    		border: none;
				font-size: 14px;
				text-transform: uppercase;
				font-family: "San Francisco";
				font-weight: bold;
				cursor: pointer;
			}
		}		
	}
	
	.card:hover .content {
		transform: translateZ(12px);
	}

	.card::before {
		content: "";
		background: rgba(0, 0, 0, 0.4);
		border-radius: 8px;
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.card .content:hover .hoverAnimation {
		box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
	}
	
	.card .content:hover .hoverAnimation:before, .card .content:hover .hoverAnimation:after {
		display: block;
		content: '';
		position: absolute;
		width: 125px;
		height: 125px;
		background: #c0e8d9;
		border-radius: 75px;
		z-index: -1;
		animation: 1s clockwise infinite;
	}
	
	.card .content:hover .hoverAnimation:after {
		background: #cffda8;
		animation: 2s counterclockwise infinite;
	}
	
	@keyframes clockwise {
		0% {
			top: -5px;
			left: 0;
		}
		12% {
			top: -2px;
			left: 2px;
		}
		25% {
			top: 0;
			left: 5px;    
		}
		37% {
			top: 2px;
			left: 2px;
		}
		50% {
			top: 5px;
			left: 0;    
		}
		62% {
			top: 2px;
			left: -2px;
		}
		75% {
			top: 0;
			left: -5px;
		}
		87% {
			top: -2px;
			left: -2px;
		}
		100% {
			top: -5px;
			left: 0;    
		}
	}
	
	@keyframes counterclockwise {
		0% {
			top: -5px;
			right: 0;
		}
		12% {
			top: -2px;
			right: 2px;
		}
		25% {
			top: 0;
			right: 5px;    
		}
		37% {
			top: 2px;
			right: 2px;
		}
		50% {
			top: 5px;
			right: 0;    
		}
		62% {
			top: 2px;
			right: -2px;
		}
		75% {
			top: 0;
			right: -5px;
		}
		87% {
			top: -2px;
			right: -2px;
		}
		100% {
			top: -5px;
			right: 0;    
		}
	}
}